@import './base.scss';

a {
    min-width:60px; height: 28px; line-height: 28px; background-color: #ddd; display: inline-block; text-align: center; text-decoration: none; margin-right:20px; padding: 5px 10px;
}

















